appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat @ file:///home/conda/feedstock_root/build_artifacts/automat_1667331175863/work
bcrypt @ file:///D:/bld/bcrypt_1666831373407/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
brotlipy @ file:///D:/bld/brotlipy_1666764815687/work
certifi==2022.9.24
cffi @ file:///D:/bld/cffi_1666754845955/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
constantly==15.1.0
cryptography @ file:///D:/bld/cryptography_1667424754813/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1665859450441/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
lxml @ file:///D:/bld/lxml_1666905371448/work
numpy @ file:///D:/bld/numpy_1666788367701/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1666802142864/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1667392207259/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1667391478166/work
pywin32==304
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
Scrapy @ file:///D:/bld/scrapy_1667396887696/work
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1664943488272/work
Twisted @ file:///D:/bld/twisted_1667305640496/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1666945212305/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
webencodings==0.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zope.interface @ file:///D:/bld/zope.interface_1668715534701/work
